@import '@common/styles/index';

.news-card {
    width: $news-card-width-desktop;
    border-radius: $grid-base;
    overflow: hidden;
    background-color: $color-grey10;
    &__img {
        width: 100%;
        max-height: 250px;
    }
    &__title {
        margin: $grid-tiny-3x $grid-base-extended $grid-small;
        font-size: 22px;
        font-weight: $font-weight-medium;
        line-height: 125%;
    }
    &__desc {
        margin: $grid-small $grid-base-extended $grid-medium-extended;
        font-size: 18px;
        font-weight: $font-weight-normal;
        line-height: 130%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; 
        overflow: hidden;
    }
    &_footer {
        margin: 0 $grid-base-extended $grid-base;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__date {
            font-weight: $font-weight-light;
            font-size: 18px;
            line-height: 130%;
        }
    }
}

@media screen and (max-width: $grid-tablet-max) {
    .news-card {
        width: $news-card-width-mobile;
    }
}