@import "src/common/styles/index";

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .button {
    margin-top: $grid-tiny-3x;

    &__disabled {
      background: $color-grey80;
      border: none;

      &:hover {
        background: $color-grey80;
        color: white;
        border: none;
        cursor: not-allowed;
      }
    }
  }
}
