@import '@common/styles/index';

.news-container {
    margin: 0 auto;
    max-width: $grid-desktop;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-bottom: 100px;
}

@media screen and (max-width: $grid-desktop) {
    .news-container {
        padding: 0 20px;
    }
}