@import "src/common/styles/index";
.footer {
    margin-top: $grid-big;
    background-color: $color-key-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
        padding-bottom: $grid-small;
        line-height: 130%;
        color: $color-white;
        &:hover{
            color: $color-blue80;
        }
    }
    .footer-box{
        max-width: $grid-desktop;
        margin: $grid-medium-extended 0;
        width: 100%;
        @media (max-width: $grid-laptop-max) {
            .footer-container, .copyright-text{
                margin: 0  $grid-small;
            }
        }
        @media (max-width: $grid-tablet-min) {
            .footer .footer-box{
                margin: $grid-base 0;
            }
            .footer-container{
                display: flex;
                flex-direction: column;
                margin-left: $grid-tiny-3x;

                .mobile-icon{
                    display: none;
                }
                .contacts-container{
                    align-self: self-start;
                    margin-bottom: $grid-base;
                }
                .links-container{
                    align-self: self-start;
                    .column{
                        margin-right: $grid-medium-extended;
                    }
                    margin-bottom: $grid-base;
                }
            }
        }
        @media (max-width: 375px ){
            .footer,
            .footer-box{
                margin: $grid-base 0;
            }
            
            .footer-container{
                display: flex;
                flex-direction: column;
                margin-left: $grid-tiny-3x;

                .logo-container{
                    display: none;
                }
                .mobile-icon{
                        display: block; 
                        width: $logo-size-base;
                        height: $logo-size-base;
                        margin-bottom: $grid-base;
                        align-self: self-start;
                        img.img1 {
                          width: 100%;
                          height: auto;
                      }    
                }
                .contacts-container{
                    margin-bottom: $grid-base;
                }
                .links-container{
                    .column{
                        margin-right: $grid-medium-extended;
                    }
                }
            }
        }
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-white;
        .logo-container {
            
          display: flex;
          flex-direction: column;
          align-items: left;
          margin-right: 80px;

            .icon-container {
                display: block;
                width: $logo-size-base;
                height: $logo-size-base;
                img.img1 {
                  width: 100%;
                  height: auto;
                  display: block; 
                }
                img.img2 {
                    width: 100%;
                    height: auto;
                    display: none;
                }
                
                &:hover img.img1{
                    display: none;
                }
                &:hover img.img2{
                  display: block;
                }
            }          
        }    

        .links-container {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            color: $color-white;
            .column{
                display: flex;
                flex-direction: column;
                margin-right: $logo-size-base;
            }
        }
        .contacts-container {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            color: $color-white;

            .column{
                display: flex;
                flex-direction: column;
                .social-icons{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: $grid-base;
                    a {
                        padding-right: $grid-tiny-3x;
                        padding-bottom: 0;
                    }
                }
                .item {
                    position: relative;
                    &:not(:last-child) {
                        padding-bottom: $grid-small;
                    }
                    .link{
                        .span-svg {
                        display: block;
                        position: absolute;
                        top: 0px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        padding-right: $grid-small;
                        }

                        .span-svg svg {
                            stroke: $color-white;
                            fill: none;
                        }
                        .span-text {
                            display: block;
                            padding-left: $grid-base;
                            color: $color-white;
                        }
                        &:hover span {
                            color: $color-blue80;
                        }
                        &:hover span svg{
                            stroke: $color-blue80;
                        }
                    }
                }
            }
        }
    }
    .mobile-icon{
        display: none;
    }
    .copyright-text {
        max-width: $grid-desktop; 
        font-weight: $font-weight-normal;
        font-size: $p4-font-size;
        color: $color-white;
        align-items: start;
    }

}  