@import '@common/styles/index';

.gallery-card {
    display: flex;
    grid-column: span 2;
    border-radius: $grid-tiny-3x;
    overflow: hidden;
    position: relative;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__date {
        position: absolute;
        display: block;
        background-color: #fff;
        padding: $grid-small $grid-small*2;
        border-radius: $grid-base-extended;
        bottom: $grid-small*2;
        left: $grid-tiny-3x;
    }
    &__title {
        position: absolute;
        display: block;
        background-color: #fff;
        padding: $grid-small $grid-small*2;
        border-radius: $grid-base-extended;
        margin: 0;
        bottom: $grid-medium + $grid-base-extended;
        left: $grid-tiny-3x;
    }
    &:first-child {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
    }
    &:last-child {
        grid-column: 5 / -1;
        grid-row: 3;
    }
}