$color-yellow100: #E2E32E;
$color-yellow80: #F2BE1D;
$color-yellow60: #F8D15A;
$color-yellow40: #F8D15A;
$color-yellow10: #FDFAF0;
$color-blue100: #274C9C;
$color-blue80: #207EED;
$color-blue60: #5DA0F0;
$color-blue40: #99CEFF;
$color-blue10: #E5F7FE;
$color-red100: #A52124;
$color-red80: #E7544F;
$color-red40: #FF9996;
$color-red10: #F9E7E6;
$color-grey90: #9C9C9C;
$color-grey80: #C8C8C8;
$color-grey60: #E0E0E0;
$color-grey10: #F8F8F8;
$color-key-primary: #292929;
$color-white: #FFFFFF;
