$grid-tiny: 5px;
$grid-small: 10px;
$grid-small-extended: 12px;
$grid-tiny-3x: 15px;
$grid-base: 25px;
$grid-base-extended:30px;
$grid-medium:40px;
$grid-medium-extended:45px;
$grid-normal:60px;
$grid-normal-extended:65px;
$grid-big:100px;
$news-card-width-desktop: 450px;
$news-card-width-mobile: 350px;

$grid-desktop: 1440px;
$grid-laptop-max: 1439px;
$grid-laptop-medium: 1199px;
$grid-tablet-max: 1023px;
$grid-tablet-medium: 991px;
$grid-tablet-min: 679px;
$grid-mobile-max: 767px;
$grid-mobile-medium: 599px;
$grid-mobile-small: 480px;
$grid-mobile-extrasmall: 420px;
$grid-mobile-min: 375px;

$grid-border-radius: 12px;

$icon-size-base: 32px;

$logo-size-base: 80px;

$breakpoints: (
  laptop-max: $grid-laptop-max,
  laptop-medium: $grid-laptop-medium,
  tablet-max: $grid-tablet-max,
  tablet-medium: $grid-tablet-medium,
  mobile-max: $grid-mobile-max,
  tablet-min: $grid-tablet-min,
  mobile-medium: $grid-mobile-medium,
  mobile-small: $grid-mobile-small,
  mobile-extrasmall: $grid-mobile-extrasmall,
  mobile-min: $grid-mobile-min
);

$card-base-width: 450px;
$cardWidths: (
  laptop-max: $grid-laptop-max,
  laptop-medium: $grid-tablet-max,
  tablet-max: $grid-tablet-medium,
  tablet-medium: $grid-mobile-max,
  mobile-max: $grid-tablet-min,
  tablet-min: $grid-mobile-medium,
  mobile-medium: $grid-mobile-small,
  mobile-small: $grid-mobile-extrasmall,
  mobile-extrasmall: $grid-mobile-min,
  mobile-min:  $grid-mobile-min
);
