$grid-tiny: 5px;
$grid-small: 10px;
$grid-small-extended: 12px;
$grid-tiny-3x: 15px;
$grid-base: 25px;
$grid-base-extended:30px;
$grid-medium:40px;
$grid-medium-extended:45px;
$grid-normal:60px;
$grid-normal-extended:65px;
$grid-big:100px;

$grid-desktop: 1440px;
$grid-laptop-max: 1439px;
$grid-laptop-medium: 1199px;
$grid-tablet-max: 1023px;
$grid-tablet-medium: 991px;
$grid-tablet-min: 679px;
$grid-mobile-max: 767px;
$grid-mobile-medium: 599px;
$grid-mobile-min: 375px;

$grid-border-radius: 12px;

$icon-size-base: 32px;
