$grid-tiny: 5px;
$grid-small: 10px;
$grid-small-extended: 12px;
$grid-tiny-3x: 15px;
$grid-base: 25px;
$grid-base-extended:30px;
$grid-medium:40px;
$grid-medium-extended:45px;
$grid-normal:60px;
$grid-normal-extended:65px;
$grid-big:100px;
$news-card-width-desktop: 450px;
$news-card-width-mobile: 350px;

$grid-desktop: 1440px;
$grid-laptop-max: 1439px;
$grid-tablet-max: 1023px;
$grid-mobile-max: 767px;

$grid-border-radius: 12px;

$icon-size-base: 32px;
