/** h1 **/
$h1-mobile-font-family: 'Jost';
$h1-mobile-mobile-font-size: 26px;
$h1-mobile-line-height: 28.6px;
$h1-mobile-font-weight: 600;

@mixin h1-mobile() {
  font-family: $h1-mobile-font-family;
  font-size: $h1-mobile-mobile-font-size;
  line-height: $h1-mobile-line-height;
  font-weight: $h1-mobile-font-weight;
}

/** h2 **/
$h2-mobile-font-family: 'Jost';
$h2-mobile-font-size: 24px;
$h2-mobile-line-height: 26.4px;
$h2-mobile-font-weight: 600;

@mixin h2-mobile() {
  font-family: $h2-mobile-font-family;
  font-size: $h2-mobile-font-size;
  line-height: $h2-mobile-line-height;
  font-weight: $h2-mobile-font-weight;
}

/** h3 **/
$h3-mobile-font-family: 'Jost';
$h3-mobile-font-size: 22px;
$h3-mobile-line-height: 26.4px;
$h3-mobile-font-weight: 400;

@mixin h3-mobile() {
  font-family: $h3-mobile-font-family;
  font-size: $h3-mobile-font-size;
  line-height: $h3-mobile-line-height;
  font-weight: $h3-mobile-font-weight;
}

/** h4 **/
$h4-mobile-font-family: 'Jost';
$h4-mobile-font-size: 20px;
$h4-mobile-line-height: 25px;
$h4-mobile-font-weight: 400;

@mixin h4-mobile() {
  font-family: $h4-mobile-font-family;
  font-size: $h4-mobile-font-size;
  line-height: $h4-mobile-line-height;
  font-weight: $h4-mobile-font-weight;
}

/** h5 **/
$h5-mobile-font-family: 'Jost';
$h5-mobile-font-size: 18px;
$h5-mobile-line-height: 22.5px;
$h5-mobile-font-weight: 400;

@mixin h5-mobile() {
  font-family: $h5-mobile-font-family;
  font-size: $h5-mobile-font-size;
  line-height: $h5-mobile-line-height;
  font-weight: $h5-mobile-font-weight;
}

/** p1 - default **/
$p1-mobile-font-family: 'Jost';
$p1-mobile-font-size: 18px;
$p1-mobile-line-height: 23.4px;
$p1-mobile-font-weight: 400;

@mixin p1-mobile() {
  font-family: $p1-mobile-font-family;
  font-size: $p1-mobile-font-size;
  line-height: $p1-mobile-line-height;
  font-weight: $p1-mobile-font-weight;
}

/** p2 **/
$p2-mobile-font-family: 'Jost';
$p2-mobile-font-size: 16px;
$p2-mobile-line-height: 20.8px;
$p2-mobile-font-weight: 400;

@mixin p2-mobile() {
  font-family: $p2-mobile-font-family;
  font-size: $p2-mobile-font-size;
  line-height: $p2-mobile-line-height;
  font-weight: $p2-mobile-font-weight;
}
