@import 'src/common/styles/index';


.page-header {
    margin: $grid-medium $grid-normal $grid-normal;
    padding: $grid-medium $grid-normal;
    border-radius: $grid-base;
    background-color: $color-grey10;
    max-width: $grid-desktop;
    &__links {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: $grid-small-extended;
        &-item {
            display: flex;
            gap: $grid-small;
            span {
                @include p4-desktop;
            }
            &::before {
                display: none;
            }
        }
    }
    &__title {
        margin: $grid-small*2 0 $grid-tiny-3x 0;
        position: relative;
        display: inline-block;
        z-index: 1;
        overflow: hidden;
        padding: 5px;
        text-overflow: ellipsis;
        &--underlined {
            &::after {
                z-index: -1;
                content: '';
                display: block;
                position: absolute;
                bottom: $grid-small;
                width: 100%;
                height: $grid-small;
            }
            &_blue40::after {
                background-color: $color-blue40;
            }
            &_red40::after {
                background-color: $color-red40;
            }
            &_yellow40::after {
                background-color: $color-yellow40;
            }
        } 
    }  
    &__desc {
        color: #000;
    }
}

@media screen and (max-width: $grid-laptop-max) {
    .page-header {
        max-width: $grid-tablet-max;
    }
}

@media screen and (max-width: $grid-tablet-max) {
    .page-header {
        max-width: $grid-mobile-max;
    }
}

@media screen and (max-width: $grid-mobile-max) {
    .page-header {
        margin: $grid-medium $grid-base-extended $grid-normal;
        &__title {
            &::after {
                bottom: $grid-tiny;
                height: $grid-tiny;
            }
        }
    }
}
