@import "src/common/styles/index";
.body{
    justify-content: center;
    align-items: center;
    max-width: $grid-desktop;
    flex-direction: column;
    margin: auto;

    .selected a {
        background-color: #E5F7FE;
        border-radius: 10px;
        color: #207EED;
        font-weight: $font-weight-semibold;
      }
      

    .dean-question{

    }
    .FAQ{
        li::before, li::after {
            content: '';            
        }
        &__item__title {
          position: relative;
          width: 100%;
          background-color: transparent;
          color: $color-key-primary;
          border: none;
          border: 2px solid $color-grey60;
        }

        &__item__title::before {
          content: '';
          width: 36px;
          height: 36px;
          position: absolute;
          top: 8px;
          right: 18px;
          background-color: transparent;
          background-image: url('../../../assets/arrow.svg');
          background-repeat: no-repeat;
          background-position: center;
          transition: transform .3s ease-in-out;
        }

        &__item__title.open:before {
          transform: rotate(180deg);
          transition: transform .3s ease-in-out;
        }
        &__paginator{
          display: flex;
          align-items: center;          
          justify-content: center;
        }

        &__list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            align-items: center;
                  
            @media (max-width: 450px) {
              width: 100%;
              overflow-x: auto;
            }
      
            &__item {
              &:not(:last-child) {
                margin-right: 8px;
              }
      
              &:nth-last-child(2) {
                border-right: none;
              }
      
              &__link {
                display: block;
                border-radius: 10px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: #292929;
              }
            }
      
            &__break {
              cursor: pointer;
              margin: 0 8px;
              padding: 0 8px;
              height: 8px;
              border-right: transparent;
              border-left: transparent;
      
              &__link {
                display: block;
                height: 8px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #2d2d2d;
              }
            }
        }
    }
    .ask-a-question{

    }
}