@import "@common/styles/index";

.slider {
    position: relative;
    padding-top: 140px;
    width: 100%;
    overflow: hidden;
    background: $color-grey10;
    &__line {
        background: $color-grey10;
        transition: all ease 0.5s;
        position: relative;
        left: 0;
        display: flex;
        .item {
            background: $color-grey10;
            min-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 60px;
            overflow: hidden;
            justify-self: center;
            position: relative;
            h1 {
                font-size: 50px;
                line-height: 110%;
            }
    
            @media (max-width: $grid-tablet-max) {
              padding: 60px;
              justify-content: flex-start;
            }
    
            .button {
              margin-top: 80px;
    
              @media (max-width: $grid-tablet-max) {
                margin-top: 40px;
                font-size: 16px;
                padding: 15px;
              }
    
              @media (max-width: $grid-mobile-max) {
                margin-top: 20px;
              }
            }
    
            .info {
              z-index: 50;
            }
    
            .image {
              object-fit: contain;
              max-width: 800px;
    
              @media (max-width: $grid-tablet-max) {
                position: absolute;
                right: 60px;
                bottom: 0;
                z-index: 1;
              }
    
              @media (max-width: $grid-mobile-max) {
                display: none;
              }
            }
        }
    }
    &_indexes {
        margin: 85px 0 0 0;
        padding: 0;
        display: flex;
        gap: 10px;
        &__item {
            border: 1px solid $color-key-primary;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            &::before {
                display: none;
            }
            &--active {
                background-color: $color-key-primary;
            }
        }
    }
}

@media (max-width: $grid-laptop-max) {
    .slider {
        .item .image {
            width: 450px;
        }
        &_indexes {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}