@import "src/common/styles";

.gallery {
    margin: 0 $grid-normal;
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(7, 175px);
    grid-gap: 35px;

    @media (max-width: $grid-tablet-max) {
        grid-template-columns: repeat(5, 175px);
    }

    @media (max-width: $grid-tablet-medium) {
        grid-template-columns: repeat(3, 175px);
    }

    @media (max-width: $grid-mobile-max) {
        margin: 0 $grid-base;
        display: flex;
    }
}
