@import "src/common/styles/constants";
@import "src/common/styles/colors";
@import "src/common/styles/fonts";

.gallery {

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .item {
    display: grid;
    grid-template-columns: $grid-normal 1fr 1fr 1fr;
    cursor: pointer;
    grid-gap: $grid-small;

    &__bold {
      .p2 {
        font-weight: $font-weight-medium;
      }
    }
  }
}
