@import "src/common/styles/constants";
@import "src/common/styles/colors";
@import "src/common/styles/fonts";

.admin-gallery {

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .item {
    display: grid;
    grid-template-columns: $grid-normal 2fr $grid-big 1fr;
    cursor: pointer;
    grid-gap: $grid-tiny-3x;

    .preview {
      width: $grid-big;
      height: $grid-big;
      object-fit: contain;
    }

    &__bold {
      .p2 {
        font-weight: $font-weight-medium;
      }
    }
  }
}
