@import 'src/common/styles';

.news-container {
    margin: 0 $grid-normal $grid-big;
    max-width: $grid-desktop;
    display: flex;
    flex-wrap: wrap;
    gap: $grid-medium;
    justify-content: center;

    @media (max-width: $grid-mobile-max) {
        margin: 0 $grid-base;
    }
}

@media screen and (max-width: $grid-desktop) {
    .news-container {
        padding: 0 $grid-small*2;
    }
}
