@import "src/common/styles/index";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $grid-big;
  z-index: 100;
  display: flex;
  justify-content: space-between;

  .logo-container {
    display: flex;
    flex-direction: row;
    gap: $grid-base;
    align-items: center;
    padding: 0 $grid-medium;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: $grid-base * 2;
    align-items: center;
    padding: 0 $grid-medium;
  }
}
