@import '@common/styles/index';

.card{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 480px;
    &__img{
        padding-right: 20px;
    }
    &__text{
        width: 100%;
    }
}