@import "src/common/styles/index";

.svg-icon {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding: 0;

  .icon {
    width: $icon-size-base;
    height: $icon-size-base;
  }
}
